<%= form_with(model: annonce, local: true) do |form| %>
  <% if annonce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annonce.errors.count, "error") %> prohibited this annonce from being saved:</h2>

      <ul>
      <% annonce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :annonce_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :annonce_description %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.number_field :salary, id: :annonce_salary %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :annonce_city %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :annonce_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :annonce_email %>
  </div>

  <div class="field">
    <%= form.label :skill %>
    <%= form.text_field :skill, id: :annonce_skill %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, id: :annonce_qualification %>
  </div>

  <div class="field">
    <%= form.label :licence %>
    <%= form.text_field :licence, id: :annonce_licence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
