<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @annonce.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @annonce.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @annonce.salary %>
</p>

<p>
  <strong>City:</strong>
  <%= @annonce.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @annonce.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @annonce.email %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @annonce.skill %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @annonce.qualification %>
</p>

<p>
  <strong>Licence:</strong>
  <%= @annonce.licence %>
</p>

<%= link_to 'Edit', edit_annonce_path(@annonce) %> |
<%= link_to 'Back', annonces_path %>
