<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            
            <!-- Logo-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> <%= image_tag "logo.png" %> </a>
            </div>

            <!-- Navbar HEADER -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <%= link_to 'Offres', annonces_url %>
                    </li>
                    <li>
                         <%= link_to 'Demandeurs', demandeurs_url %>
                    </li>
                    <li>
                        <a href="#">Back Office</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	<div class="headerBlank"></div>

     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<h2 class="section-header">546 320 offres d'emploi disponibles !</h2>
                	<p class="lead text-light">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                </div>    
                <div class="col-sm-6">

                	<h2 class="section-header">S'indentifier</h2>

                    <%= form_tag "home/index", method: :post do %>
                      <input style="color:black" type="text" name="name" placeholder="email" />
                      <input style="color:black" type="password" name="password" placeholder="mot de passe" />
                      <input style="color:black" type="submit" value="Se connecter" />
                    <% end %>

                    <%= link_to 'S\'inscrire', new_demandeur_path %>
                
                </div>            
            </div>
        </div>
    </section>    

 

    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="js/custom.js"></script>

</body>

</html>
