<%= form_with(model: demandeur, local: true) do |form| %>
  <% if demandeur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demandeur.errors.count, "error") %> prohibited this demandeur from being saved:</h2>

      <ul>
      <% demandeur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :demandeur_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :demandeur_surname %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :demandeur_age %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :demandeur_city %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :demandeur_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :demandeur_email %>
  </div>

  <div class="field">
    <%= form.label :skill %>
    <%= form.text_field :skill, id: :demandeur_skill %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, id: :demandeur_qualification %>
  </div>

  <div class="field">
    <%= form.label :licence %>
    <%= form.text_field :licence, id: :demandeur_licence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
