<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            
            <!-- Logo-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> <%= image_tag "logo.png" %> </a>
            </div>

            <!-- Navbar HEADER -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        home
                    </li>
                    <li>
                        
                    </li>
                    <li>
                        <%= link_to 'Demandeurs', demandeurs_url %>
                    </li>
                    <li>
                        <a href="#">Back Office</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="headerBlank"></div>

     <section class="content content-2">
        
                  <p id="notice"><%= notice %></p>

                  <h1>Demandeurs</h1>

                  <table>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Age</th>
                        <th>City</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Skill</th>
                        <th>Qualification</th>
                        <th>Licence</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @demandeurs.each do |demandeur| %>
                        <tr>
                          <td><%= demandeur.name %></td>
                          <td><%= demandeur.surname %></td>
                          <td><%= demandeur.age %></td>
                          <td><%= demandeur.city %></td>
                          <td><%= demandeur.phone %></td>
                          <td><%= demandeur.email %></td>
                          <td><%= demandeur.skill %></td>
                          <td><%= demandeur.qualification %></td>
                          <td><%= demandeur.licence %></td>
                          <td><%= link_to 'Show', demandeur %></td>
                          <td><%= link_to 'Edit', edit_demandeur_path(demandeur) %></td>
                          <td><%= link_to 'Destroy', demandeur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                  <br>

                  <%= link_to 'New Demandeur', new_demandeur_path %>

    </section>    

 

    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="js/custom.js"></script>

</body>

</html>












