<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @demandeur.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @demandeur.surname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @demandeur.age %>
</p>

<p>
  <strong>City:</strong>
  <%= @demandeur.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @demandeur.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @demandeur.email %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @demandeur.skill %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @demandeur.qualification %>
</p>

<p>
  <strong>Licence:</strong>
  <%= @demandeur.licence %>
</p>

<%= link_to 'Edit', edit_demandeur_path(@demandeur) %> |
<%= link_to 'Back', demandeurs_path %>
