<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @employer.companyName %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
