<!DOCTYPE html>
<html>
  <head>
    <title>PoleEmploi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <link rel="stylesheet" href="http://poleEmploi.com/assets/bootstrap.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">	 
      <%= yield %>
    </div> 
 </body>
</html>
