<%= form_with(model: reponse, local: true) do |form| %>
  <% if reponse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reponse.errors.count, "error") %> prohibited this reponse from being saved:</h2>

      <ul>
      <% reponse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_society %>
    <%= form.number_field :id_society, id: :reponse_id_society %>
  </div>

  <div class="field">
    <%= form.label :id_demandeur %>
    <%= form.number_field :id_demandeur, id: :reponse_id_demandeur %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :reponse_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
