<p id="notice"><%= notice %></p>

<p>
  <strong>Id society:</strong>
  <%= @reponse.id_society %>
</p>

<p>
  <strong>Id demandeur:</strong>
  <%= @reponse.id_demandeur %>
</p>

<p>
  <strong>Message:</strong>
  <%= @reponse.message %>
</p>

<%= link_to 'Edit', edit_reponse_path(@reponse) %> |
<%= link_to 'Back', reponses_path %>
